@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QB.BookShop.Admin</title>

    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="~/css/qb.admin.css" rel="stylesheet" />
    <script src="~/lib/layui/layui.js"></script>
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">QB 后台管理系统</div>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        用户名
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">所有商品</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">列表一</a></dd>
                            <dd><a href="javascript:;">列表二</a></dd>
                            <dd><a href="javascript:;">列表三</a></dd>
                            <dd><a href="">超链接</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">解决方案</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">列表一</a></dd>
                            <dd><a href="javascript:;">列表二</a></dd>
                            <dd><a href="">超链接</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="">云市场</a></li>
                    <li class="layui-nav-item"><a href="">发布商品</a></li>
                </ul>
            </div>
        </div>

        <div class="layui-body qb-page-tab">
            <div class="layui-tab" lay-filter="page_tab">
                <ul class="layui-tab-title">
                    <li class="layui-this">主页</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <iframe src="http://www.baidu.com" frameborder="0" scrolling="yes" class="x-iframe"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © layui.com - 底部固定区域
        </div>
    </div>
    <script>
        //JavaScript代码区域
        layui.use('element', function () {
            var element = layui.element;

        });

        $(function () {
            var tab = {
                tabAdd: function (title, url, id) {
                    //新增一个Tab项
                    element.tabAdd('xbs_tab', {
                        title: title,
                        content: '<iframe tab-id="' + id + '" frameborder="0" src="' + url + '" scrolling="yes" class="x-iframe"></iframe>',
                        id: id
                    });
                },
                tabDelete: function (othis) {
                    //删除指定Tab项
                    element.tabDelete('xbs_tab', '44'); //删除：“商品管理”
                    othis.addClass('layui-btn-disabled');
                },
                tabChange: function (id) {
                    //切换到指定Tab项
                    element.tabChange('xbs_tab', id); //切换到：用户管理
                }
            };

            //左侧菜单效果
            // $('#content').bind("click",function(event){
            $('.left-nav #nav li').click(function (event) {

                if ($(this).children('.sub-menu').length) {
                    if ($(this).hasClass('open')) {
                        $(this).removeClass('open');
                        $(this).find('.nav_right').html('&#xe697;');
                        $(this).children('.sub-menu').stop().slideUp();
                        $(this).siblings().children('.sub-menu').slideUp();
                    } else {
                        $(this).addClass('open');
                        $(this).children('a').find('.nav_right').html('&#xe6a6;');
                        $(this).children('.sub-menu').stop().slideDown();
                        $(this).siblings().children('.sub-menu').stop().slideUp();
                        $(this).siblings().find('.nav_right').html('&#xe697;');
                        $(this).siblings().removeClass('open');
                    }
                } else {
                    var url = $(this).children('a').attr('_href');
                    var title = $(this).find('cite').html();
                    var index = $('.left-nav #nav li').index($(this));

                    for (var i = 0; i < $('.x-iframe').length; i++) {
                        if ($('.x-iframe').eq(i).attr('tab-id') === index + 1) {
                            tab.tabChange(index + 1);
                            event.stopPropagation();
                            return;
                        }
                    }

                    tab.tabAdd(title, url, index + 1);
                    tab.tabChange(index + 1);
                }

                event.stopPropagation();

            })
        });
    </script>
</body>
</html>
